<!DOCTYPE HTML>
<html ng-app="employeeApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.3.0/angularfire.js"></script>
    <script type='text/javascript' src="js/app.js"></script>
    <script type='text/javascript' src="js/db.js"></script>
    <title>Employee directory</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body ng-controller='employeeController'>
    <div>
        <form ng-submit="addEmployee()"  name="myForm">
            <h1>Add Employee</h1>
            <h5>Total employees: <span>{{employees.length}}</span></h5>

            <label>Name:</label>
            <input type="text" ng-model="employee.name" />

            <label>Phone Number:</label>
            <input type="text" ng-model="employee.num" />

            <label>Title:</label>
            <input type="text" ng-model="employee.title" />

            <label> street:</label>
            <input type="text" ng-model="employee.street" />

            <label>City:</label>
            <input type="text" ng-model="employee.city" />

            <label>State:</label>
            <input type="text" ng-model="employee.state" />

            <label></label>
            <button type="submit" ng-disabled="myForm.$invalid"> Add Employee </button>
        </form>

        <table>
            <tr>
                <th>Employee name</th>
                <th>Number</th>
                <th>Title</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>remove Employee</th>
            </tr>
            <tr ng-repeat="item in employees">
                <td>{{ item.name }}</td>
                <td>{{ item.number}} </td>
                <td>{{item.title}}</td>
                <td> {{item.street}}</td>
                <td> {{item.City}}</td>
                <td> {{item.State}}</td>
                <td><button ng-click="employees.$remove(item)">Remove Employee</button></td>
            </tr>
        </table>
    </div>
</body>

</html>
