body {
    background-image: url('../images/bg.jpg');
    background-size: cover;
}

div {
    padding-right: 20px;
    width: 400px;
    float: left;
    margin-top: 20px;
    overflow: auto;
}

#wrapper {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    margin: 0 auto;
    margin-top:50px;
    float: none;
    padding:20px;
}

h1{
  color: #FFF;
}

span {
    padding: 1px;
    border-radius: 8px;
    margin-left: 5px;
    background-color:#0BB4F2;
}

label {
  color: #0BB4F2;
}

input:focus {
    border: 1px solid #0BB4F2;
}
