

<div class="wrapper">
<h1>Add a song</h1>

<form ng-submit="addSong()">
            <input type="text" placeholder="song Title" ng-model="song.title" />
           	<input type="text" placeholder="Artist" ng-model="song.artist" />



          <select ng-model="song.rating">
    <option value="1 star">1 star</option>
    <option value="2 star">2 stars</option>
    <option value="3 star">3 stars</option>
    <option value="4 star">4 stars</option>
    <option value="5 star">5 stars</option>
  </select>
            <input type="submit" value="Submit" />
            
</form>
</div>




</option>


 